$blue: #0073ce;
$light-blue: #00a5f0;
$light-green: #00d7d7;
$yellow: #ffc800;

$gray-600: #33303e;
$gray-500: #4e4b59;
$gray-400: #5f5c6b;
$gray-300: #7a7786;
$gray-200: #c6c5ce;
$gray-100: #f1f0f5;

$h1: normal normal 600 64px "Poppins", sans-serif;
$h2: normal normal 700 40px "Poppins", sans-serif;
$h3: normal normal 600 24px "Poppins", sans-serif;
$h4: normal normal 600 20px "Poppins", sans-serif;

$p1: normal normal 400 18px "Inter", sans-serif;
$p2: normal normal 400 16px "Inter", sans-serif;
$p3: normal normal 400 14px "Inter", sans-serif;

$transition: all 0.35s ease;
